<h1>hello</h1>
<p>{{content.name}}</p>
<button class="btn btn-primary" onclick="showMe()">Show</button>


<!-- Your custom script -->
<script>
    console.log('{{ content.name }}');
    function showMe() {
        console.log('Clicked');
    }
</script>
